
body {
    padding-top: 3.5rem;
  }

.header {
    background: url('../img/header.png') center center no-repeat scroll #721b63;
    color: #ffffff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.icon:hover{
    cursor: pointer;
    font-size: 32px;
}
.icon{
    float:left;
    font-size: 28px;
    text-align:center;
}


footer2 {
    margin: 50px 0;
}

  

